html, body {
  overflow-x: hidden;
}
body {
  position: relative
}


.team-page{
  color: black;
}

.loading-p{
  color: black;

}
a{
  color: blue;
}

.my-teams-header{
  display: flex;
  color: black;
  font-family: 'espn';
}

.about-p{
  color: black;
  margin: 7px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home{
  display: flex;
  align-items: center; 
  flex-direction: column;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  margin-bottom: 15px;
  justify-self: center;
  align-self: center;
  animation: fadeIn 2s ease forwards;
  min-width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-header{
  color: black;
  margin-bottom: 4px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3px;
}

.home-p{
  color: black;
  margin: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


#nav {
  display: flex; /* Use flexbox to arrange items horizontally */
  align-items: center; /* Align items vertically in the center */
  background-color: white; /* Set the background color to red */
  padding: 10px; /* Add some padding for spacing */
  height: fit-content;
  border-radius: 5px;
  height: auto;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  min-width: 1000px;
  margin-right: 10px;
  margin-left: 10px;
}

@font-face {
  font-family: 'espn';
  src: url('assets/esp/esp_ital.ttf') format('truetype');
}

@keyframes moveFromRightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

#nav-header {
  font-family: 'espn';
  font-size: 60px;
  justify-self: center;
  align-self: center;
  margin: auto;
  color: black;
  animation: moveFromRightToLeft 2s ease forwards;
  min-width: 750px
}

#nba-logo{
  height: 150px;
  margin-right: 10px;
}

.nav-btn{
  font-family: 'espn';
  justify-self: flex-end;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: auto;
  border: none;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  margin-left: 7px;
  height: 40px;
  width: auto;
  min-width: 60px;
  text-decoration: none;
  padding: 3px;
}

@media (min-width: 601px){
  .nav-btn:hover{
    background-color: lightblue;
  }
}



.nav-btn:active{
  background-color: yellow;
}


#container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Automatically fill the grid with a minimum width of 250px and adjust the number of columns based on available space */
  gap: 20px; 
  padding: 20px; 
  justify-self: center;
  align-self: center;
  background-color: white;
  height: fit-content;
  border-radius: 5px;
  animation: fadeIn 2s ease forwards;
  place-items: center;
}

#menu-select{
  position: relative;
  margin-left: 45%;
  margin-top: 40px;
  height: 50px;
}

#menu-select-season{
  background-color: whitesmoke;
  color: black;
}

.card{
  height: 320px;
  width: 225px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px){
  .card:hover{
    background-color: lightblue;
  } 
}

.favorite-btn{
  width: 30px;
  height: 30px;
  bottom: 10px;
  left: 0;
  position: relative;
  background-color: transparent;
  color: red;
  font-size: 25px;
  border: none;
}

.heart-icon{
  height: 30px;
  width: 30px;
}

.card-logo{
  height: 140px;
  align-self: center;
  width: 90%;
  margin-bottom: 10px;
}

.team-stats-div{
  display: flex;
  flex-direction: column;
}

.team-stats-info{
  margin: 3px;
  align-self: center;
  color: black;
  font-size: 17.5px;
  font-family: 'Courier New', Courier, monospace;
}

#select{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.select-btns{
  margin: 10px;
  height: 50px;
  width: auto;
  background-color: #f5f5f5;
  color: black;
}



.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  animation: fadeIn 2s ease forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formcarry-block {
  margin-bottom: 20px;
}


label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

input[type="text"],
input[type="email"],
textarea {
  width: 300px;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: black;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.players-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  animation: fadeIn 2s ease forwards;
}

.search-container{
  padding-top: 2vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  margin-right: auto;
  margin-left: auto;
}


.input-wrapper{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;

}

#player-search-input{
  background-color: transparent;
  border: none;
  height: 30px;
  font-size: 1rem;
  width: 100%;
  margin: auto;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.home-header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home-p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.results-list{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: scroll;
}

.player-button{
  padding: 10px 20px;
  color: black;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 8px #ddd;
}

.player-button:active{
  background-color: lightblue;
}

.player-data-div{
  display: flex;
  flex-direction: column;
}

.stat-line{
  border: solid 1px black;
  margin: 3px;
  padding: 3px;
}



 .table-container {
  margin: 20px;
  display: flex; /* Use flexbox to arrange items side by side */
}

.player-table {
  width: 50%; /* Each table takes up half of the container's width */
  border-collapse: collapse;
  margin-right: 10px; /* Add some spacing between tables */
}

.player-table th,
.player-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.player-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.player-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.player-table tbody tr:hover {
  background-color: #eaeaea;
}


.menu-btn {
  display: none; /* Hide the menu button by default on larger screens */
}

.nav-links {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-top: 10px;
  position: relative;
  top: 50px;
}


@media (max-width: 1200px) {

  .home {
    min-width: auto; /* Limiting maximum width for better readability */
  }

  .menu-btn{
    display: block;
    background-color: #f5f5f5;
    color: black;
    border: none;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding: 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .menu-btn:active{
    background-color: yellow;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    width: 95%;
    margin: 10px;
    top: 5px; 
  }

  .nav-btn{
    margin: 3px;
  }

  .nav-links{
    display: none;
  }


  #nav {
    display: flex;
    flex-direction: column; /* Change flex direction to column for mobile view */
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    min-width: auto;
  }
  
  #nav-header {
    /* font-family: 'espn'; */
    font-size: 25px; /* Decrease font size for better mobile view */
    color: black;
    margin: 10px 0; /* Adjust margin for better spacing */
    animation: moveFromRightToLeft 2s ease forwards;
    text-align: center;
  }
  
  #nba-logo {
    height: 80px; /* Decrease logo size for better mobile view */
    margin-bottom: 10px; /* Add margin for better spacing */
  }


  .contact-form{
    min-width: auto;
  }

}