#nav {
  display: flex; /* Use flexbox to arrange items horizontally */
  align-items: center; /* Align items vertically in the center */
  background-color: red; /* Set the background color to red */
  padding: 10px; /* Add some padding for spacing */
  height: 75px;
}


#nav-header {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  justify-self: center;
  align-self: center;
}

#nba-logo{
  height: 60px;
}

#contact{
  justify-self: flex-end;
  margin-left: auto;
  background-color: white;
  color: black;
  margin-top: auto;
  border: none;
  border-radius: 60px;
}

#contact:hover{
  background-color: lightblue;
}
 #contact:active{
  background-color: yellow;
 }
